NODE_ENV=development

APP_ORIGIN=http://localhost:3000 # Docker

MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGO_HOST=
MONGO_PORT=
MONGO_DATABASE=

# MongoAtlas
MONGO_URI=

#history service
HISTORY_DB_MONGO_URI=
HISTORY_SERVICE_PORT=

USER_SERVICE_PORT=
USER_SERVICE_URL=
JWT_SECRET=
JWT_REFRESH_SECRET=
EMAIL_SENDER=
RESEND_API_KEY=

ADMIN_USERNAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_AUTH_ORIGIN=
GOOGLE_AUTH_REDIR_URI=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_AUTH_ORIGIN=
GITHUB_AUTH_REDIR_URI=

VITE_NGROK_COLLAB_HOST=

SUPABASE_URL=
SUPABASE_KEY=

#question service postgres
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=