NODE_ENV=development

# APP_ORIGIN=http://localhost:3000 # Docker
APP_ORIGIN=http://localhost:5173 # Local testing

# MongoDB and MongoExpress
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGO_HOST=
MONGO_PORT=
MONGO_DATABASE=

ME_CONFIG_MONGODB_URL=
ME_CONFIG_BASICAUTH_ENABLED=
ME_CONFIG_BASICAUTH_USERNAME=
ME_CONFIG_BASICAUTH_PASSWORD=

# User Service
MONGO_URI=
USER_SERVICE_PORT=
JWT_SECRET=
JWT_REFRESH_SECRET=
EMAIL_SENDER=
RESEND_API_KEY=

ADMIN_USERNAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_AUTH_ORIGIN=http://localhost:3000 # Docker
# GOOGLE_AUTH_ORIGIN=http://localhost:5173 
GOOGLE_AUTH_REDIR_URI=

# GITHUB_CLIENT_ID= # Docker
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET= 
GITHUB_AUTH_ORIGIN=http://localhost:5173 
GITHUB_AUTH_REDIR_URI=

SUPABASE_URL=
SUPABASE_KEY=

PARTYKIT_HOST_URL=localhost:8082
VITE_NGROK_COLLAB_HOST=
