# Node
node_modules/
**/node_modules/


# TypeScript build output
**/dist/


.env.test
coverage/
.partykit
.env.test
# Dependencies
node_modules/

# Build output
dist/
build/

# Test reports
coverage/
lcov-report/

# Local environment files
.env
.env.*
*.local


# Log files
*.log

npm-debug.logcoverage/
coverage/

.vscode/

# Database files
/user-service/db

!.env.example
!./question-service/.env.example
!./matching-service/.env.example
!./frontend/.env.example
!./collaboration-service/.env.example
